

#nav{
  background-color: brown;
}

img {
  width: 130px;
  height: 130px;
}

h1 {
  padding-left: 200px;
  color: blue;
}

#id {
  margin-left: 20px;
}

.col-sm-2 {
  width: 150px;
  height: 100%;
  background-color: tan;
}
